{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/exam_register.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {% if user %}
            <div>
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
            </div>

            <div>
                <label for="full_name" class="form-label">Full Name</label>
                <input type="text" id="full_name" name="full_name" value="{{ user.full_name }}" readonly>
            </div>

            <div>
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" readonly>
            </div>

            <div>
                <label for="phone_number" class="form-label">Phone Number</label>
                <input type="text" id="phone_number" name="phone_number" value="{{ user.phone_number }}" readonly>
            </div>

            <div>
                <label class="form-label">Select Domain</label>
                <select name="domain" id="domain" onchange="updateTopicOptions()">
                    <option value="">Select</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                
                <select name="subject" id="subject">
                    <option value="">Select</option>
                    {% for subject in subjects %}
                    <option value="{{ subject.id }}" data-category="{{ subject.subject_category.id }}">
                        {{ subject.subject_name }}
                    </option>
                    {% endfor %}
                </select>
                
            </div>

            <div>
                <label for="date" class="form-label">Select Date</label>
                <input type="date" id="date" name="date">
            </div>

            <div>
                <label class="form-label">Payment</label>
                <input type="text" class="payment" name="payment" value="INR 999.00" readonly>
            </div>

            <button type="submit" class="btn-register">Register</button>

            {% else %}
            <p>Hi Guest, Login first then try to register for exam...!</p>
            {% endif %}
        </form>
    </div>
</div>

    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}