{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/exam_register.css' %}">
<style>
    .alert {
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
    }
    .alert-success { background-color: #4CAF50; }
    .alert-warning { background-color: #FFC107; }
    .alert-error { background-color: rgb(241, 83, 72); }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        {% if user %}
        <form method="POST">
            {% csrf_token %}
            <div class="message-container">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
            </div>
            <div>
                <label for="full_name" class="form-label">Full Name</label>
                <input type="text" id="full_name" name="full_name" value="{{ user.full_name }}" readonly>
            </div>
            <div>
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" readonly>
            </div>
            <div>
                <label for="phone_number" class="form-label">Phone Number</label>
                <input type="text" id="phone_number" name="phone_number" value="{{ user.phone_number }}" readonly>
            </div>
            <div>
                <label class="form-label">Select Exam</label>
                <select name="exam_domain" id="exam_domain" required>
                    <option value="">Select</option>
                    {% for exam in exams %}
                    <option value="{{ exam.id }}">{{ exam.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="form-label">Payment</label>
                <input type="text" class="payment" name="payment" value="INR 999.00" readonly>
            </div>
            <button type="submit" class="btn-register">Register</button>
        </form>
        {% else %}
        <p>Hi Guest, please log in before registering for an exam!</p>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
