{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Blog List</title>
</head>
<body>

    <div class="blog-header">
        <span class="blog-badge">ReaderClub Blog List</span>
        <h1 class="heading">Resources and Insights</h1>
        <p class="blog-description">Discover our blogs for newest insights, technology, expert tips and trends
            shaping the industry.</p>
    </div>
    
    <div class="blog-container">
        {% for blog in blogs %}
        <div class="blog-card">
            {% if blog.image %}
            <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
            {% endif %}
            <div class="blog-content">
                <h2 class="blog-title">{{ blog.title }}</h2>
                <p class="blog-text">{{ blog.short_description }}</p>

                <!-- Dynamic link to blog details -->
                <a href="{% url blog.blog_type|add:'_blog_detail' blog.slug %}" class="read-more">Read More</a>
            </div>
        </div>
        {% empty %}
        <p>No blogs available.</p>
        {% endfor %}
    </div>

</body>
</html>
