version: '3.8'

services:
  db:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    env_file:
      - .env

  readerclub:
    build:
      context: ./readerclub
    command: sh -c "python manage.py collectstatic --noinput && gunicorn --chdir /app --bind 0.0.0.0:8000 readerclub.wsgi:application"
    volumes:
      - ./readerclub:/app
      - ./readerclub/staticfiles:/app/staticfiles
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

  career:
    build:
      context: ./career
    command: sh -c "python manage.py collectstatic --noinput && gunicorn --chdir /app --bind 0.0.0.0:8001 career.wsgi:application"
    volumes:
      - ./career:/app
    ports:
      - "8001:8001"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  mysql_data:

networks:
  default:
    driver: bridge

