{% extends "base.html" %}
{% load static %}
{% block title %}Aptitude Practice Questions{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'practice_questions/css/card_slider.css' %}">
  <link rel="stylesheet" href="{% static 'practice_questions/css/questions.css' %}">
  <link rel="stylesheet" href="{% static 'practice_questions/css/page_title.css' %}">
{% endblock %}
{% block content %}
<div class="slider-wrapper">
  <button class="slider-arrow left-arrow">&lt;</button>
  <div class="slider-container">
    <div class="cards-row">
      <a href="{% url 'abstract_reasoning_practice' %}" class="card-link">
        <div class="card card-abstract_reasoning">
          <div class="upper-section" style="--upper-bg: #088EE7B0;">
            <img src="{% static 'practice_questions/slider_logo/abstract_reasoning.png' %}" alt="Abstract Reasoning" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Abstract Reasoning</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <!-- Data Interpretation Card -->
      <a href="{% url 'data_interpretation_practice' %}" class="card-link">
        <div class="card card-data_interpretation">
          <div class="upper-section" style="--upper-bg: #E4BB36;">
            <img src="{% static 'practice_questions/slider_logo/data_interpretation.png' %}" alt="Data Interpretation" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Data Interpretation</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'data_sufficiency_practice' %}" class="card-link">
        <div class="card card-data_sufficiency">
          <div class="upper-section" style="--upper-bg: #30D5C8B8;">
            <img src="{% static 'practice_questions/slider_logo/data_sufficiency.png' %}" alt="Data Sufficiency" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Data Sufficiency</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'general_knowledge_and_current_affairs_practice' %}" class="card-link">
        <div class="card card-general_knowledge_and_current_affairs_practice">
          <div class="upper-section" style="--upper-bg: #F18B31EB;">
            <img src="{% static 'practice_questions/slider_logo/general_knowledge_and_current_affairs.png' %}" alt="General Knowledge" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>General Knowledge</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'quantitative_practice' %}" class="card-link">
        <div class="card card-quantitative">
          <div class="upper-section" style="--upper-bg: #2E0ACDB0;">
            <img src="{% static 'practice_questions/slider_logo/quantitative.png' %}" alt="Quantitative" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Quantitative</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'reasoning_practice' %}" class="card-link">
        <div class="card card-reasoning">
          <div class="upper-section" style="--upper-bg: #FBE208B0;">
            <img src="{% static 'practice_questions/slider_logo/reasoning.png' %}" alt="Reasoning" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Reasoning</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'verbal_ability_practice' %}" class="card-link">
        <div class="card card-verbal_ability">
          <div class="upper-section" style="--upper-bg: #BA08E7B0;">
            <img src="{% static 'practice_questions/slider_logo/verbal_ability.png' %}" alt="Verbal Ability" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Verbal Ability</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <button class="slider-arrow right-arrow">&gt;</button>
</div>
{% block cards_and_questions %}{% endblock cards_and_questions %}
{% endblock content %}
{% block extra_js %}
<script src="{% static 'practice_questions/js/slider.js' %}"></script>
<script src="{% static 'practice_questions/js/questions.js' %}"></script>
{% endblock %}
