{% extends "base.html" %}
{% load static %}
{% block title %}Management Practice Questions{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'practice_questions/css/card_slider.css' %}">
<link rel="stylesheet" href="{% static 'practice_questions/css/questions.css' %}">
<link rel="stylesheet" href="{% static 'practice_questions/css/page_title.css' %}">
{% endblock %}
{% block content %}
<div class="slider-wrapper">
  <button class="slider-arrow left-arrow">&lt;</button>
  <div class="slider-container">
    <div class="cards-row">
      <a href="{% url 'finance_practice' %}" class="card-link">
        <div class="card card-finance">
          <div class="upper-section" style="--upper-bg: #088EE7B0;">
            <img src="{% static 'practice_questions/slider_logo/finance.png' %}" alt="Python" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Finance</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'marketing_practice' %}" class="card-link">
        <div class="card card-marketing">
          <div class="upper-section" style="--upper-bg: #E4BB36;">
            <img src="{% static 'practice_questions/slider_logo/marketing.png' %}" alt="C++" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Marketing</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'operations_management_practice' %}" class="card-link">
        <div class="card card-operations_management">
          <div class="upper-section" style="--upper-bg: #30D5C8B8;">
            <img src="{% static 'practice_questions/slider_logo/operations_management.png' %}" alt="C#" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Operations Management</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'organizational_behaviour_practice' %}" class="card-link">
        <div class="card card-organizational_behaviour">
          <div class="upper-section" style="--upper-bg: #F18B31EB;">
            <img src="{% static 'practice_questions/slider_logo/organizational_behaviour.png' %}" alt="Java" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Organizational Behaviour</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'hospital_administration_practice' %}" class="card-link">
        <div class="card card-hospital_administration">
          <div class="upper-section" style="--upper-bg: #2E0ACDB0;">
            <img src="{% static 'practice_questions/slider_logo/hospital_administration.png' %}" alt="HTML" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Hospital Administration</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'digital_marketing_practice' %}" class="card-link">
        <div class="card card-digital_marketing">
          <div class="upper-section" style="--upper-bg: #FBE208B0;">
            <img src="{% static 'practice_questions/slider_logo/digital_marketing.png' %}" alt="CSS" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Digital Marketing</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'decision_making_practice' %}" class="card-link">
        <div class="card card-decision_making">
          <div class="upper-section" style="--upper-bg: #BA08E7B0;">
            <img src="{% static 'practice_questions/slider_logo/decision_making.png' %}" alt="JavaScript" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Decision Making</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'entrepreneurship_practice' %}" class="card-link">
        <div class="card card-entrepreneurship">
          <div class="upper-section" style="--upper-bg: #34C1BFB0;">
            <img src="{% static 'practice_questions/slider_logo/entrepreneurship.png' %}" alt="DBMS" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Entrepreneurship</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'corporate_law_practice' %}" class="card-link">
        <div class="card card-corporate_law">
          <div class="upper-section" style="--upper-bg: #EA1115A6;">
            <img src="{% static 'practice_questions/slider_logo/corporate_law.png' %}" alt="SDLC" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Corporate Law</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'strategic_management_practice' %}" class="card-link">
        <div class="card card-strategic_management">
          <div class="upper-section" style="--upper-bg: #E708B7B0;">
            <img src="{% static 'practice_questions/slider_logo/strategic_management.png' %}" alt="DSA" />
          </div>
          <div class="lower-section">
            <div class="card-title">
              <h1>Strategic Management</h1>
            </div>
            <div class="card-description">
              <p>30 Questions</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <button class="slider-arrow right-arrow">&gt;</button>
</div>
{% block cards_and_questions %}{% endblock cards_and_questions %}
{% endblock content %}
{% block extra_js %}
<script src="{% static 'practice_questions/js/slider.js' %}"></script>
<script src="{% static 'practice_questions/js/questions.js' %}"></script>
{% endblock %}
