{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/participate_certificate.css' %}">

{% endblock %}

    <div class="certificate">
        <div class="certificate-border">
            <div class="ribbon">
                <div class="ribbon-text">Certificate of Participation</div>
            </div>
            <img class="logo" src="{% static 'assets/logo.png' %}" alt="logo">
            <h2 class="company-name">ReaderClub</h2>
            <h1 class="certificate-title">CERTIFICATE OF Participation</h1>
            <p class="certify-text">This is to certify that</p>

            <!-- Recipient Name -->
            <h2 class="recipient-name">{{ certificate.name }}</h2>

            <!-- Father's Name -->

            <p class="completion-text">College: {{ college }}</p>
            <p class="completion-text">Has successfully completed the certification.</p>

            <p class="message">"Thankyou for your participation. May this milestone lead to even <br>greater success in
                your journey ahead."</p>

            <div class="footer">
                <div class="date">
                    <p>Awarded: {{ certificate.created_at|date:"F d, Y" }}</p>
                </div>
                <div class="signature">
                    <p class="sig-name">Signature Name</p>
                    <p>CEO, ReaderClub</p>
                </div>
            </div>
        </div>
    </div>
