body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

.certificate {
    width: 900px;
    height: 550px;
    background: white;
    padding: 30px;
    text-align: center;
    border: 6px solid rgb(15, 3, 66);
    position: relative;
    border-radius: 10px;
}

.certificate-border {
    border: 3px solid #f0b429;
    padding: 10px;
    height: 95%;
    border-radius: 6px;
    position: relative;
}

.ribbon {
    width: 140px;
    height: 50px;
    background: #0d2b50;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
}

.ribbon-text {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0;
}

.company-name {
    font-size: 24px;
    font-weight: 700;
    color: #2e2f30;
    margin-top: 40px;
    margin-bottom: 10px;
}

.certificate-title {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
    color: #0d2b50;
}

.certify-text {
    font-size: 16px;
    margin-top: 20px;
    font-style: italic;
    font-weight: 500;
}

.recipient-name {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 170px;
    margin-top: 30px;
    border-bottom: 1px solid #1c355e;
    width: 60%;
    text-align: center;
}

.father-name {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 170px;
    margin-top: 10px;
    color: #555;
    text-align: center;
}

.completion-text {
    font-size: 16px;
    margin: 20px 40px;
    line-height: 1.6;
    color: #444;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
}

.cert-number {
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}

.signature {
    font-weight: 600;
    text-align: right;
    padding-right: 50px;
    padding-top: 15px;
}

.signature p {
    padding-top: 0px;
}

.sig-name {
    border-bottom: 1px solid #1c355e;
    width: 100%;
    text-align: center;
}

.date {
    font-size: 16px;
    margin-top: 35px;
    font-weight: bold;
    padding-left: 20px;
}

.message {
    font-size: 18px;
    margin: 50px 0;
    color: #0b0451;
    font-weight: 500;
    font-style: italic;
}

.logo {
    width: 110px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 20px;
}