.topcompany-section{
  width:100%;
  background-color: white;
}
section.top-company-section {
  margin-top: 5px;
}
.top-company-company-conatiner {
  width: 100%;
  margin: 0px auto;
  background-color: white;
  padding: 30px;
}
.top-company-company-conatiner1 {
  /* width: 95%;
  margin: -6px auto;
  background-color: white;
  border-radius: 12px;
  padding: 30px; */
  width: 80%;
    /* margin: -6px auto; */
    background-color: white;
    border-radius: 12px;
    padding: 39px;
}

.top-company-job-count {
  /* top: -15px; */
 
  z-index: 2;
  right: -53px;
}
.top-company-job-count1 {
  /* top: -15px; */
  right: -15px;
  z-index: 2;
}
.top-company-job-count {
  margin-left: 188px;
  width: 143px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-inline: -91%;
}
.top-company-job-count1 {
  margin-left: 188px;
  width: 143px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-inline: -91%;
}
.top-company-job-count {
  position: absolute;
  border-radius: 10px;
  top: -11px;
  color: #000;
  font-size: 14px;
  padding: 3px 23px;
  margin-left: 188px;
  width: 181px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-inline: -106%;
  
}
.top-company-job-count1 {
  position: absolute;
  border-radius: 10px;
  top: -11px;
  color: #000;
  font-size: 14px;
  padding: 3px 23px;
  margin-left: 188px;
  width: 142px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-inline: -106%;
  
}
.top-company-job-count::before {
  content: "●";
  content: "•";
  font-size: 25px;
  margin-top: 1px;
  margin-right: 1px;
  display: inline-block;
  animation: colorChange 2s infinite alternate;
}
.top-company-header {
  margin-top: 2%;
  width: 14%;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #768f93;
  margin-left: 40px;
}
.top-company-header-mn img {
  width: 50px;
  height: 50px;
  margin-inline: -22%;
  margin-block: 4%;
}
.top-company-header-mn span {
  margin-inline: -29%;
}
/* .header1 {
 
  margin-top: 4%;
  width: 10%;
  font-size: 171%;
  margin-left: 2%;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(7, 123, 195);
}
.header-mn {
  display:flex-end;
  flex:end;
} */
.top-company-header-mn {
  display: flex;
  justify-content: flex-end;
   /* Aligns the content to the right */
   text-align: center;
}

.top-company-header1 {

  width: 40%;
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
  /* margin-bottom: 41px; */;      color: #768f93;
  margin-right: 127px;
  margin-inline: 15%;
}

/* .divider {
  width: 4px;
  height: 96px;
  height: 2px;
  background-color: #e0e0e0;
  margin-bottom: 30px;
  margin-top: 11%;
  width: 15%;
  font-size: 171%;
  margin-left: -42%;
  transform: rotate(90deg);
} */
.top-company-divider1 {
  width: 4px;
  height: 96px;
  height: 2px;
  background-color: #e0e0e0;
  margin-bottom: 30px;
  margin-top: 11%;
  width: 15%;
    font-size: 171%;
    margin-left: -42%;
  width: 15%;
  font-size: 171%;
  transform: rotate(90deg);
}
.top-company-companies {
  padding:4%;
  position: relative; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 101px;
  margin: auto;
  margin-inline: 8%;
    width: max-content; /* Ensures smooth scrolling */
    animation: moveCompanies 8s linear infinite;
}


/* @keyframes moveCompanies {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
} */
@keyframes moveCompanies {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-30%); /* Moves only half so duplicated content loops */
  }
}
.top-company-companies1 {
  
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 91px;
  margin: auto;
  width: max-content; /* Ensures smooth scrolling */
  animation: moveCompanies1 8s linear infinite; /* Ensure the animation runs infinitely */
}

@keyframes moveCompanies1 {
  0% {
      transform: translateX(0%); 
  }
  100% {
      transform: translateX(-30%);
  }
}





.top-company-company {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.top-company-company1 {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.top-company-circle-conatiner {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: 3px solid #007bc3;
  background: white;
  overflow: hidden;
}
.top-company-circle-conatiner1 {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: 3px solid #007bc3;
  background: white;
  overflow: hidden;
}

.top-company-circle-conatiner img {
  width: 70%;
  height: auto;
  object-fit: contain;
}
.top-company-circle-conatiner1 img {
  width: 70%;
  height: auto;
  object-fit: contain;
}
.top-company-company-slider {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  border-left: 1px solid gray;
  margin-left: 9%;
}
.top-company-company-slider1 {
  width: 81%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  
  border-right: 1px solid gray;
}
.top-company-content {
  margin-right: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-inline: 0%;
}
/* ============================================================= */

/* ================================================================ */
.top-company-content1 {
  display: flex
;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    width: 100%;
}
.top-company-com-lower {
  margin-left: 14%;
  margin-top: -15px;
  text-align: center;
  color: #666;
  font-style: poppins;
}
.top-company-com-lower1 {
  margin-left: 14%;
  margin-top: 12px;
  text-align: center;
  color: #666;
  font-style: poppins;
}
img.hire {
  width: 50px;
  height: 50px;
  left: 12%;
  position: absolute;
  margin-block: 2%;
}

@keyframes colorChange {
  0% {
    color: greenyellow;
  }
  100% {
    color: green;
  }
}
@media (max-width: 2560px) {
  img.hire {
    width: 50px;
    height: 50px;
    left: 11%;
    position: absolute;
    margin-block: 2%;
}
@media (max-width: 1440px) {
  img.hire {
    width: 50px;
    height: 50px;
    left: 12%;
    position: absolute;
    margin-block: 2%;
}
}

}

@media (max-width: 1200px) {
  img.hire {
    width: 40px;
    height: 40px;
    left: 15%;
    position: absolute;
    margin-block: 2%;
}

  .hire {
    width: 40px;
    height: 40px;
    /* margin-inline: 20%; */
    position: absolute;
    left: 14%;
    /* top: 3px; */
    margin-block: 1%;
}
.top-company-header-mn img {
  width: 40px;
  height: 43px;
  margin-inline: -30%;
  margin-block: 5%;
}
.top-company-job-cardd {
    padding: 20px;
    width: 269px;
}
.top-company-job-cardd1 {
  padding: 20px;
  width: 269px;
}
  .top-company-job {
    top: 130px;
    right: 24%;
  }
  .top-company-job1 {
    top: 130px;
    right: 24%;
  }
  .top-company-job-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .top-company-job-container1 {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  hr {
    margin: 6px 0;
}
  .top-company-companies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 43px;
  }
  .top-company-companies1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 43px;
  }
  .top-company-header {
    /* margin-top: -1%; */
    width: 22%;
    font-size: 171%;
    
  }
  .top-company-header1 {
    /* margin-top: -1%; */
    width: 22%;
    font-size: 27px;
    margin-inline: 33%;
}

  
  .top-company-circle-conatiner {
    width: 80px;
    height: 80px;
  }
  .top-company-circle-conatiner1 {
    width: 80px;
    height: 80px;
  }
  .top-company-job-count {
    width: 61px;
    margin-top: -7px;
    font-size: 48%;
    margin-inline: -21px;
    display: none;
}
  .top-company-job-count1 {
    width: 61px;
      margin-top: -7px;
      font-size: 48%;
      
      margin-inline: -21px;
  }
  .top-company-job-card{
    min-width:260px;
  }
  .top-company-job-card1{
    min-width:260px;
  }
}

@media (max-width: 992px) {
  img.hire {
    width: 40px;
    height: 40px;
    left: 20%;
    position: absolute;
    margin-block: 3%;
}
  .top-company-discover-hero {
    flex-direction: column;
    padding-bottom: 60px;
  }
  .top-company-discover-hero1 {
    flex-direction: column;
    padding-bottom: 60px;
  }
  

  .top-company-discover-text-content {
    max-width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: -6%;
  }
  .top-company-discover-text-content1 {
    max-width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: -6%;
  }

  .top-company-discover-hero-image {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
  }
  .top-company-discover-hero-image1 {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
  }
 

  .top-company-job-slider {
    overflow-x: auto;
    padding-bottom: 15px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }
  .top-company-job-slider1 {
    overflow-x: auto;
    padding-bottom: 15px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }
  .top-company-job-cardd {
    min-width: 375px;
    scroll-snap-align: start;
  }
  .top-company-job-cardd1 {
    min-width: 375px;
    scroll-snap-align: start;
  }
}

@media (max-width: 768px) {
  .top-company-header {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .top-company-header1 {
   
    width: 0%;
    font-size: 171%;
    margin-inline: 74%;
}
  
  .top-company-part2title {
    font-size: 28px;
    margin-left:-27%;
  }
  .top-company-btnnn {
    font-size:111%;
  }

  .top-company-discover-logo {
    max-height: 30px;
  }

  .top-company-buttons button {
    padding: 8px 12px;
    font-size: 14px;
  }

  .top-company-categories {
    gap: 15px;
    justify-content: space-around;
  }

  .top-company-category {
    max-width: 15%;
  }

  .top-company-category img {
    width: 60px;
    height: 50px;
  }

  .top-company-slider {
    display: none;
  }

  .top-company-job-container {
    padding: 15px;
    grid-template-columns: 1fr 1fr;
  }

  .top-company-companies {
    gap: 40px;
  }

  .top-company-circle-conatiner {
    width: 61px;
        height: 61px;
        margin-right: 21px;
  }


  .steps li img {
    margin-bottom: 10px;
  }
  .top-company-discover-search-bar {
    width: 79%;
    height: 67px;
    margin: auto;
  }
  .top-company-discover-search-bar button {
    margin: auto;
    margin-block: 2%;
  }
  .cube3,
  .cube2 {
    display: none;
  }
  .flexx {
    display: flex;
    gap: 12%;
    width: 209%;
  }
  .top-company-discover-hero-image {
      width: 80%;
      max-width: 400px;
      height: 433px;
      margin-bottom: -18%;
      margin-top: -1%;
  
  }

  .ddd {
    text-align: center;
  }
  .top-company-job-count {
    position: absolute;
    border-radius: 10px;
    top: -16px;
    color: #000;
    font-size: 14px;
    padding: 3px 23px;
    margin-left: 188px;
    width: 63px;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 8px;
    right: 10%;
}
.top-company-header {
  margin-top: 4%;
      width: 30%;
      font-size: 171%;
}
  .top-company-com-lower {
    margin-left: 27%;
    margin-top: -11px;
  }
  .top-company-com-lower1 {
  margin-left: -20%;
    margin-top: 15px;
}
.top-company-header-mn img {
  width: 40px;
  height: 40px;
  margin-inline: -121%;
  margin-block: 5%;
}
}

@media (max-width: 426px) {
  
  .top-company-header-mn img {
    width: 40px;
    height: 44px;
    margin-inline: -61%;
    margin-block: 3%;
}
.top-company-header-mn span {
  margin-left: -35px;
}
  .top-company-header {
      margin-top: 4%;
      width: 100%;
      font-size: 19px;
      margin-left: -1%;
      text-align: center;
  } 
  .top-company-header1-mn {
    display: flex;
    justify-content: flex-end; /* Aligns the content to the right */
    align-items: flex-start; /* Aligns the header to the top */
  }
  .top-company-company-conatiner {
    width: 100%;

}
  .top-company-header1 {
    margin-inline: 61%;
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 20px;
        color: gray;
        margin-block: 25px;
        text-align: center;
    
  }
  img.hire {
    width: 40px;
    height: 42px;
    left: 35%;
    position: absolute;
    margin-block: 1%;
}
  .top-company-content {
      display: flex
  ;
      flex-direction: column;
  }
  .top-company-content1 {
    display: flex
  ;
      flex-direction: column;
      /* flex-wrap: nowrap; */
      justify-content: space-between;
      width: 110%;
  }
  .top-company-job-count {
    position: absolute;
    right: 36px;
    font-size: 9px;
    top: -24px;
    margin-inline: -33%;
}


  .top-company-company {
    flex: 0 0 59%;
    max-width: 100%;
    display: flex;
  }

  .top-company-job-cardd {
    min-width: 100%;
  }

  .top-company-category {
    flex: 0 0 100%;
    max-width: 100%;
  }


 
  .top-company-job-container {
    padding: 15px;
    grid-template-columns: 1fr;
  }
 

  
  .top-company-job-cardd {
    min-width: 98%;
    transform: rotate(0deg);
    width: 268px;
  }
  .top-company-circle-conatiner {
    margin-inline: 25%;
  }
  .top-company-circle-conatiner1 {
    width: 62px;
    height: 62px;
}
 
  .top-company-job-card {
    min-width: 232px;
}
  .top-company-divider {
    height: 0px;
  }
  .top-company-discover-top-companies {
    margin-top: -42px;
  }
  .top-company-divider {
    display: none;
  }
  .top-company-com-lower {
    margin-left: 4%;
    margin-top: 53px;
  }
  .top-company-companies div {
    display: flex
;
    justify-content: center;
    gap: 20px;
    width: 136px;
    margin-top: -4%;
  }
  
 
  @keyframes moveDown {
    0% {
      transform: translateY(0); 
    }
    100% {
      transform: translateY(100%); 
    }
  } 
  
   @keyframes moveCompanies {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }
  .top-company-company-slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 123px;
    align-items: center;
    position: relative;
    border: none;
}
.top-company-company-slider1{
  border: none;
}


  .top-company-companies {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-block: -154px;
}
.top-company-com-lower1 {
  margin-left: 0%;
  margin-top: 15px;
}
.top-company-companies div {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 136px;
  margin-top: -3%;
}
.top-company-companies img {
    width: 50px; 
    height: auto;
    flex-shrink: 0;
}
.top-company-pheader-mn {
  display: flex
;
  justify-content: flex-end;
  margin-top: -15%;
  text-align: center;
}
}

@keyframes moveCompanies {
  from {
      transform: translateX(-30%);
  }
  to {
      transform: translateX(0); /* Moves only half so duplicated content loops */
  }
}
@media (max-width: 321px) {
  img.hire {
      width: 40px;
      height: 43px;
      left: 32%;
      position: absolute;
      margin-block: 0%;
  }
}