{% load static %}

<section class="abroad-studies">
    <div class="images-abroad">
        <img src="{% static 'images/abroad.png' %}" alt="University" class="secondary-image-abroad">
    </div>
    <div class="content-abroad">
        <h3 class="subheading-abroad">Easy Study Abroad <span class="icon">&#9992;</span></h3>
        <h1 class="heading-abroad">Dreaming of studying in <br>Top <br>Universities Abroad?</h1>
        <p class="description-abroad">We make it easier than ever by providing end-to-end support.</p>
        <ul class="benefits-list-abroad">
            <li><span class="checkmark-abroad">&#10004;</span> Immigration & Visa Consulting</li>
            <li><span class="checkmark-abroad">&#10004;</span> Direct Online Interview</li>
            <li><span class="checkmark-abroad">&#10004;</span> 99% Visa Approvals</li>
        </ul>
        
        <a href="#" class="cta-button-abroad">Learn more →</a>
    </div>
</section>