{% extends 'base.html' %}
{% load static %}

{% block title %}EdTech{% endblock %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  integrity="sha512-..."
  crossorigin="anonymous"
  referrerpolicy="no-referrer"

/>

{% block extra_css %}
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
 <link rel="stylesheet" href="{% static 'css/faqs.css' %}"> 
 <link rel="stylesheet" href="{% static 'css/app.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/top-company.css' %}"> 
 <link rel="stylesheet" href="{% static 'css/study-material.css' %}"> 
 <link rel="stylesheet" href="{% static 'css/examination.css' %}"> 
 <link rel="stylesheet" href="{% static 'css/internship.css' %}"> 
 <link rel="stylesheet" href="{% static 'css/stats.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/hero-section.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/job-section.css' %}">
  <link rel="stylesheet" href="{% static 'css/magazine.css' %}">
<style>
  /* Hide scrollbar but keep manual scrolling */
  .achiever-list {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
   }
  .achiever-list::-webkit-scrollbar {
    display: none;            /* Chrome/Safari */
   }
</style>
{% endblock %}

{% block content %}

<!--  HERO SECTION  -->
 {% include 'hero-section.html' %}  

{% include 'stats.html' %}
<!-- Examination & Skill Development Section -->
 {% include 'examination-and-skill.html' %}  

<!-- Internship Program Section -->
{% include 'internship-section.html' %}

<!--job section-->
{% include 'job-section.html' %} 

<!-- Study Material Section -->
 {% comment %} {% include 'study-material.html' %}  {% endcomment %}

<!-- top-company section-->
{% include 'top-company.html' %}  

{% include 'magazine.html' %}

<!-- FAQ Section -->
{% include 'faq.html' %}

<!-- Download App Section -->
{% include 'app.html' %}

{% block extra_js %}
<script src="{% static 'js/index.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  {% if show_login_modal %}
    openModal('login');
  {% endif %}
});
</script>
 
{% endblock %}

{% endblock %}