{% load static %}
<section class="internship-section">
    <div class="internship-container">
        <div class="internship-cards">
            <div class="card">
                <img src="{% static 'images/interncard1-blue.png' %}" class="icon blue">
                <img src="{% static 'images/interncard1-white.png' %}" class="icon white">
                <div class="wave"></div>
                <div class="internship-text">Real-World Experience</div>
            </div>
            <div class="card">
                <img src="{% static 'images/interncard2-blue.png' %}" class="icon blue">
                <img src="{% static 'images/interncard2-white.png' %}" class="icon white">
                <div class="wave"></div>
                <div class="internship-text">Skill Development</div>
            </div>
            <div class="card">
                <img src="{% static 'images/interncard3-blue.png' %}" class="icon blue">
                <img src="{% static 'images/interncard3-white.png' %}" class="icon white">
                <div class="wave"></div>
                <div class="internship-text">Networking Opportunities</div>
            </div>
            <div class="card">
                <img src="{% static 'images/interncard4-blue.png' %}" class="icon blue">
                <img src="{% static 'images/interncard4-white.png' %}" class="icon white">
                <div class="wave"></div>
                <div class="internship-text">Boost Your Resume</div>
            </div>
        </div>
        <div class="content">
            <p><span>Kickstart Your Career with Our Internship Program</span></p>
            <p class="subinternship-text">Join our dynamic internship program designed to bridge the gap between learning and industry experience. 
            </p>
            <h3>Why join us?</h3>
            <ul>
                <li>✅ Work on real industry projects with hands-on experience.</li>
                <li>✅Learn from top professionals and industry experts.</li>
                <li>✅ Enhance your portfolio with impactful projects.</li>
                <li>✅ Get certified & boost your resume for career success.</li>
            </ul>
            {% comment %} <button class="explore-btn" onclick="window.location.href='{{CAREER_URL}}/internship-portal/'">Explore internship →</button> {% endcomment %}
            <a href="{{CAREER_URL}}/internship-portal/" class="cta-button exploreintern">
                <span class="text">Explore internship</span>
                <div class="arrow-box">→</div>
            </a>
        </div>
    </div>
    </section>