{% load static %}
<div class="jobs-container">
    <div class="jobs-content">
        <p><span >Kickstart Your Career with exciting<br> Job Opportunities</span></p>
        <p class="jobs-subtext">Professionally designed to bridge the gap between learning and real-world industry experience.</p>
        <h3>Why join us?</h3>
        <ul>
            <li>✅ Work on real industry projects in a professional setting.</li>
            <li>✅ Learn from top professionals and industry leaders.</li>
            <li>✅ Build an impressive portfolio with impactful projects.</li>
            <li>✅ Secure a rewarding career with growth opportunities.</li>
        </ul>
        <button class="jobs-explore-btn" onclick="window.location.href='https://career.readerclub.in/'">Explore Jobs →</button>
    </div>
     <div class="jobs-cards">
        <div class="jobs-card">
            <img src="{% static 'images/card1-blue.svg' %}" class="jobs-icon blue">
            <img src="{% static 'images/card1-white.svg' %}" class="jobs-icon white">
            <div class="jobs-wave"></div>
            <div class="jobs-text">Real-Word<br> Experience</div>
        </div>
        <div class="jobs-card">
            <img src="{% static 'images/card2-blue.svg' %}" class="jobs-icon blue">
            <img src="{% static 'images/card2-white.svg' %}" class="jobs-icon white">
            <div class="jobs-wave"></div>
            <div class="jobs-text">Skill<br> Development</div>
        </div>
        <div class="jobs-card">
            <img src="{% static 'images/card3-blue.svg' %}" class="jobs-icon blue">
            <img src="{% static 'images/card3-white.svg' %}" class="jobs-icon white">
            <div class="jobs-wave"></div>
            <div class="jobs-text">Career Growth & Stability</div>
        </div>
        <div class="jobs-card">
            <img src="{% static 'images/card4-blue.svg' %}" class="jobs-icon blue">
            <img src="{% static 'images/card4-white.svg' %}" class="jobs-icon white">
            <div class="jobs-wave"></div>
            <div class="jobs-text">Networking & Industry Exposure</div>
        </div>
    </div>
</div>