{% load static %}
<div class="card-right-container">
    <div class="card-right-content">
        <p><span>Kickstart Your Career with exciting<br> Job Opportunities</span></p>
        <p class="card-right-subtext">Professionally designed to bridge the gap between learning and real-world industry experience.</p>
        <h3>Why join us?</h3>
        <ul>
            <li>✅ Work on real industry projects in a professional setting.</li>
            <li>✅ Learn from top professionals and industry leaders.</li>
            <li>✅ Build an impressive portfolio with impactful projects.</li>
            <li>✅ Secure a rewarding career with growth opportunities.</li>
        </ul>
        <button class="card-right-explore-btn">Explore Jobs →</button>
    </div>
     <div class="card-right-cards">
        <div class="card-right-card">
            <img src="{% static 'image/card1-blue.svg' %}" class="card-right-icon blue">
            <img src="{% static 'image/card1-white.png' %}" class="card-right-icon white">
            <div class="card-right-wave"></div>
            <div class="card-right-text">Real-Word<br> Experience</div>
        </div>
        <div class="card-right-card">
            <img src="{% static 'image/card2-blue.png' %}" class="card-right-icon blue">
            <img src="{% static 'image/card2-white.png' %}" class="card-right-icon white">
            <div class="card-right-wave"></div>
            <div class="card-right-text">Skill<br> Development</div>
        </div>
        <div class="card-right-card">
            <img src="{% static 'image/card3-blue.png' %}" class="card-right-icon blue">
            <img src="{% static 'image/card3-white.png' %}" class="card-right-icon white">
            <div class="card-right-wave"></div>
            <div class="card-right-text">Career Growth & Stability</div>
        </div>
        <div class="card-right-card">
            <img src="{% static 'image/card4-blue.png' %}" class="card-right-icon blue">
            <img src="{% static 'image/card4-white.png' %}" class="card-right-icon white">
            <div class="card-right-wave"></div>
            <div class="card-right-text">Networking & Industry Exposure</div>
        </div>
    </div>
</div>