{% load static %}
  <section class="pamper-section">
    <div class="pamper-header">
        <h2>New Arrivals</h2>
    </div>

    <div class="pamper-pamplet">
        <div class="pamper-book-container">

            <!-- Book Cards -->
            <div class="pamper-book-card">
              <div class="pamper-pamp1"> <a target="_blank" href="https://library.readerclub.in/"><img src="{% static 'magazine_images/image5.jpg' %}" alt="mag1" class="mag1"></a></div>
                <p class="pamper-title">2024-25 RRB Stage-II Technician</p>
                <div class="pamper-both">
                    <p class="pamper-date">Jan 27, 2025 <br> 
                        <span class="pamper-stars">★ ★ ★ ★ ☆</span> 
                        557 readers
                    </p> 
                    <div class="pamper-icon1">
                        <img src="{% static 'magazine_images/subscribe.jpg' %}" alt="" class="sub">
                    </div>
                </div>
            </div>
            <div class="pamper-book-card">
                <div class="pamper-pamp1"> <a target="_blank" href="https://library.readerclub.in/"><img src="{% static 'magazine_images/image7.jpg' %}" alt="mag2" class="mag1"></a></div>
                  <p class="pamper-title">2024-25 RRB Stage-II Technician</p>
                  <div class="pamper-both">
                      <p class="pamper-date">Jan 27, 2025 <br> 
                          <span class="pamper-stars">★ ★ ★ ★ ☆</span> 
                          557 readers
                      </p> 
                      <div class="pamper-icon1">
                          <img src="{% static 'magazine_images/subscribe.jpg' %}" alt="" class="sub">
                      </div>
                  </div>
              </div>
              <div class="pamper-book-card">
                <div class="pamper-pamp1"> <a target="_blank" href="https://library.readerclub.in/"><img src="{% static 'magazine_images/image8.jpg' %}" alt="mag3" class="mag1"></a></div>
                  <p class="pamper-title">2024-25 RRB Stage-II Technician</p>
                  <div class="pamper-both">
                      <p class="pamper-date">Jan 27, 2025 <br> 
                          <span class="pamper-stars">★ ★ ★ ★ ☆</span> 
                          557 readers
                      </p> 
                      <div class="pamper-icon1">
                          <img src="{% static 'magazine_images/subscribe.jpg' %}" alt="" class="sub">
                      </div>
                  </div>
              </div>
              <div class="pamper-book-card">
                <div class="pamper-pamp1"> <a target="_blank" href="https://library.readerclub.in/"><img src="{% static 'magazine_images/image9.webp' %}" alt="mag4" class="mag1"></a></div>
                  <p class="pamper-title">2024-25 RRB Stage-II Technician</p>
                  <div class="pamper-both">
                      <p class="pamper-date">Jan 27, 2025 <br> 
                          <span class="pamper-stars">★ ★ ★ ★ ☆</span> 
                          557 readers
                      </p> 
                      <div class="pamper-icon1">
                          <img src="{% static 'magazine_images/subscribe.jpg' %}" alt="" class="sub">
                      </div>
                  </div>
              </div>
              <div class="pamper-book-card">
                <div class="pamper-pamp1"> <a target="_blank" href="https://library.readerclub.in/"><img src="{% static 'magazine_images/imagine4.jpg' %}" alt="mag5" class="mag1"></a></div>
                  <p class="pamper-title">2024-25 RRB Stage-II Technician</p>
                  <div class="pamper-both">
                      <p class="pamper-date">Jan 27, 2025 <br> 
                          <span class="pamper-stars">★ ★ ★ ★ ☆</span> 
                          557 readers
                      </p> 
                      <div class="pamper-icon1">
                          <img src="{% static 'magazine_images/subscribe.jpg' %}" alt="" class="sub">
                      </div>
                  </div>
              </div>
              <div class="pamper-book-card">
                <div class="pamper-pamp1"> <a target="_blank" href="https://library.readerclub.in/"><img src="{% static 'magazine_images/magine1.jpg' %}" alt="mag6" class="mag1"></a></div>
                  <p class="pamper-title">2024-25 RRB Stage-II Technician</p>
                  <div class="pamper-both">
                      <p class="pamper-date">Jan 27, 2025 <br> 
                          <span class="pamper-stars">★ ★ ★ ★ ☆</span> 
                          557 readers
                      </p> 
                      <div class="pamper-icon1">
                          <img src="{% static 'magazine_images/subscribe.jpg' %}" alt="" class="sub">
                      </div>
                  </div>
              </div>
              <div class="pamper-book-card">
                <div class="pamper-pamp1"> <a target="_blank" href="https://library.readerclub.in/"><img src="{% static 'magazine_images/magine2.jpg' %}" alt="mag7" class="mag1"></a></div>
                  <p class="pamper-title">2024-25 RRB Stage-II Technician</p>
                  <div class="pamper-both">
                      <p class="pamper-date">Jan 27, 2025 <br> 
                          <span class="pamper-stars">★ ★ ★ ★ ☆</span> 
                          557 readers
                      </p> 
                      <div class="pamper-icon1">
                          <img src="{% static 'magazine_images/subscribe.jpg' %}" alt="" class="sub">
                      </div>
                  </div>
              </div>
        </div>
    </div>
  </section>