{%load static%}
    <div class="stats-container">
        <h2>Numbers that define Excellence!</h2>
        <div class="stats">
            <div class="stat">
                <div class="icon-wrapper">
                    <img class="blue" src="{% static 'images/users.png' %}" alt="Active Learners">
                    <img class="white" src="{% static 'images/group white1.png' %}" alt="Active Learners">
                </div>
                <h3>1000+</h3>
                <p>Active Learners</p>
            </div>
            <div class="stat">
                <div class="icon-wrapper">
                    <img class="blue" src="{% static 'images/open-book (1).png' %}" alt="Companies Hiring">
                    <img class="white" src="{% static 'images/book white.png' %}" alt="Companies Hiring">
                </div>
                <h3>100+</h3>
                <p>Companies Hiring</p>
            </div>
            <div class="stat">
                <div class="icon-wrapper">
                    <img class="blue" src="{% static 'images/building (1).png' %}" alt="Courses Offered">
                    <img class="white" src="{% static 'images/building white1.png' %}" alt="Courses Offered">
                </div>
                <h3>30+</h3>
                <p>Courses Offered</p>
            </div>
            <div class="stat">
                <div class="icon-wrapper">
                    <img class="blue" src="{% static 'images/graduate (1).png' %}" alt="Alumni">
                    <img class="white" src="{% static 'images/graduate white1.png' %}" alt="Alumni">
                </div>
                <h3>500+</h3>
                <p>Alumni</p>
            </div>
            <div class="stat">
                <div class="icon-wrapper">
                    <img class="blue" src="{% static 'images/thumb-up (1).png' %}" alt="Satisfaction Rate">
                    <img class="white" src="{% static 'images/thumb-up white1.png' %}" alt="Satisfaction Rate">
                </div>
                <h3>95+</h3>
                <p>Satisfaction Rate</p>
            </div>
        </div>
        <div class="wavee"></div>
    </div>
