{% load static %}
<section class="top-company-section">
    <div class="top-company-company-conatiner">
        <div class="top-company-content">
            <img src="/static/images/corporate%20(1).png" alt="university" class="hire">
            <div class="top-company-header">Top <br>Companies</div>
            <div class="top-company-company-slider">
                <div class="top-company-companies">
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/google.png' %}" alt="Meta">
                        </div>
                    </div>
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/infosys.png' %}" alt="LTC">
                        </div>
                    </div>
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/infosys.png' %}" alt="Deloitte">
                        </div>
                    </div>
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/infosys.png' %}" alt="jtc">
                        </div>
                    </div>
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/infosys.png' %}" alt="Infosys">
                        </div>
                    </div>
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/jtc.png' %}" alt="jtc">
                        </div>
                    </div>
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/d.png' %}" alt="Deloitte">
                        </div>
                    </div>
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/infosys.png' %}" alt="Infosys">
                        </div>
                    </div>
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/google.png' %}" alt="Google">
                        </div>
                    </div>
                    <div class="top-company-company">
                        <span class="top-company-job-count">20+ Jobs</span>
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/google.png' %}" alt="Infosys">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-company-com-lower">Trusted by 1k+ Companies all over the globe</div>
    </div>
    <hr>
    <!-- <div class="company-conatiner">
        <div class="content">
            <div class="header">Top Universities</div>
            <div class="divider"></div>
            <div class="company-slider">
                <div class="companies">
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/ani.jpeg' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/stateclg.jpeg' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/university.jpeg' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/university2.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/university1.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/university.jpeg' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/university2.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/university1.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/university.jpeg' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/university2.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="company">
                        <span class="job-count">20+ Jobs</span>
                        <div class="circle-conatiner">
                            <img src="{% static 'images/image/university1.png' %}" alt="university">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="com-lower">Trusted by 1k+ Companies all over the globe</div>
    </div> -->
    <div class="top-company-company-conatiner">
        <div class="top-company-content1">

            <!-- <div class="divider1"></div> -->
            <div class="top-company-company-slider1">
                <div class="top-company-companies1">
                    <div class="top-company-company1">
                        <!-- <span class="job-count">20+ Jobs</span> -->
                        <div class="top-company-circle-conatiner1">
                            <img src="{% static 'images/uni1.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="top-company-company1">
                        <!-- <span class="job-count">20+ Jobs</span> -->
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/uni1.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="top-company-company1">
                        <!-- <span class="job-count">20+ Jobs</span> -->
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/uni1.png' %}"  alt="university">
                        </div>
                    </div>
                    <div class="top-company-company1">
                        <!-- <span class="job-count">20+ Jobs</span> -->
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/uni1.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="top-company-company1">
                        <!-- <span class="job-count">20+ Jobs</span> -->
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/uni1.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="top-company-company1">
                        <!-- <span class="job-count">20+ Jobs</span> -->
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/uni1.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="top-company-company1">
                        <!-- <span class="job-count">20+ Jobs</span> -->
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/uni1.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="top-company-company1">
                        <!-- <span class="job-count">20+ Jobs</span> -->
                        <div class="top-company-circle-conatiner1">
                            <img src="{% static 'images/uni1.png' %}" alt="university">
                        </div>
                    </div>
                    <div class="top-company-company1">
                        
                        
                        <!-- <span class="job-count">20+ Jobs</span> -->
                        <div class="top-company-circle-conatiner">
                            <img src="{% static 'images/uni1.png' %}" alt="university">
                        </div>
                    </div>
                 
                </div>
            </div>
            <div class="top-company-header-mn">
                <img src="{% static 'images/corporate (1).png' %}" alt="university">
                <div class="top-company-header1">Top <span> Universities </span></div>
               </div>
        </div>
        <div class="top-company-com-lower1">Trusted by 1k+ Universities all over the globe</div>
    </div>
  
    
</section>