/*****************************************************
 * PROFILE DROPDOWN
 *****************************************************/
 .avatar {
    width: 50px;
    height: 50px;
    background: #077BC3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
  }
  .profile-dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    cursor: pointer;
    color: black;
    font-size: 18px;
  }
  .profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    min-width: 240px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    padding-bottom: 5px;
    border-top: 2px solid #077BC3;
    top: 115%;
  }
  
  .profile-dropdown-content a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgba(128, 128, 128, 0.808);
    font-weight: 600;
    transition: background 0.3s;
  }
  .profile-dropdown-content a i {
    margin-right: 10px;
  }
  .profile-dropdown-content a:hover {
    background: #f1f1f1;
  }
  .profile-info-links {
    font-size: 12px;
    color: gray;
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    justify-content: center;
  }
  .profile-info-links a {
    color: gray;
    text-decoration: none;
    padding: 2px 4px;
  }
  .profile-info-links a:hover {
    text-decoration: underline;
  }
  /* .profile-social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: #fafafa;
  }
  .profile-social-icons a {
    color: #077bc3;
    font-size: 18px;
    transition: transform 0.2s;
  }
  .profile-social-icons a:hover {
    transform: scale(1.1);
  } */
  
  /* Make the name clickable like the icon */
  .hello-user {
    margin-left: 8px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
  }
  .hello-user p {
    color: #077BC3;
    font-weight: 500;
  }
  