{% extends "base.html" %}

{% block start %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
        {% csrf_token %}
        <h2>Add Exam</h2>
        <hr>

        <!-- Display messages -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- Professor Dropdown -->
        <div class="mb-3">
            <label for="professor" class="form-label">Professor</label>
            <select id="professor" class="form-select" name="professor" required>
                <option selected disabled>Select Professor</option>
                {% for professor in professors %}
                    <option value="{{ professor.id }}">{{ professor.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Course Dropdown -->
        <div class="mb-3">
            <label for="course" class="form-label">Course</label>
            <select id="course" class="form-select" name="course" required>
                <option selected disabled>Select Course</option>
                {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Difficulty Dropdown -->
        <div class="mb-3">
            <label for="difficulty" class="form-label">Difficulty Level</label>
            <select id="difficulty" class="form-select" name="difficulty" required>
                <option selected disabled>Select Difficulty Level</option>
                {% for difficulty in difficulties %}
                    <option value="{{ difficulty.id }}">{{ difficulty.difficulty_name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Duration -->
        <div class="mb-3">
            <label for="duration" class="form-label">Duration (in minutes)</label>
            <input type="number" id="duration" class="form-control" name="duration" required>
        </div>

        <!-- Number of Questions -->
        <div class="mb-3">
            <label for="num_questions" class="form-label">Number of Questions</label>
            <input type="number" id="num_questions" class="form-control" name="num_questions" required>
        </div>

        <hr>
        <a href="{% url 'exam_list' %}" class="btn btn-primary mb-2">View Exam</a>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}
