{% load static %}
<!DOCTYPE html>
<html lang="en"> <!--final with animation-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/dashboard.js' %}"></script>
</head>

<body>
    <!--header section-->
    <div class="header">
        <a href='/'><img src="{% static 'images/home.png' %}" class='home-image'></a>
        <div class="dropdown">
            <span class="fa fa-user-circle"></span>
            <!-- <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16 0C7.2 0 0 7.2 0 16C0 24.8 7.2 32 16 32C24.8 32 32 24.8 32 16C32 7.2 24.8 0 16 0ZM16 6.22222C17.9556 6.22222 19.5556 7.82222 19.5556 9.77778C19.5556 11.7333 17.9556 13.3333 16 13.3333C14.0444 13.3333 12.4444 11.7333 12.4444 9.77778C12.4444 7.82222 14.0444 6.22222 16 6.22222ZM7.11111 24.8889C7.11111 20 11.1111 16 16 16C20.8889 16 24.8889 20 24.8889 24.8889H7.11111Z"
                    fill="#085889" />
            </svg> -->
            <span>{{ request.user.username }}</span>
            <span class="dropdown-icon">
                <i class="fas fa-chevron-down icon_toggle"></i>
            </span>
            <div class="dropdown-content">
                <a href="{% url 'dashboard' %}?section=profile"><span class="fas fa-pen"></span> Edit</a>
                <!-- <a href="{ url 'logout' %}"><span class="fas fa-sign-out-alt">logout</span> Logout</a> -->
            </div>
        </div>
    </div>

    <div class="sidebar-section">
        <!--side bar section-->
        <div class="sidebar">
            <div class="sidebar-header">
                <span class="fa fa-user-circle"></span>
                <!-- <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16 0C7.2 0 0 7.2 0 16C0 24.8 7.2 32 16 32C24.8 32 32 24.8 32 16C32 7.2 24.8 0 16 0ZM16 6.22222C17.9556 6.22222 19.5556 7.82222 19.5556 9.77778C19.5556 11.7333 17.9556 13.3333 16 13.3333C14.0444 13.3333 12.4444 11.7333 12.4444 9.77778C12.4444 7.82222 14.0444 6.22222 16 6.22222ZM7.11111 24.8889C7.11111 20 11.1111 16 16 16C20.8889 16 24.8889 20 24.8889 24.8889H7.11111Z"
                        fill="white" />
                </svg> -->
                <h3>Manager</h3>
            </div>
            <ul>
                <!-- Dashboard Dropdown -->
                <li data-page-name="dashboard">
                    <a class="section_items" 
                        href="{% url 'dashboard' %}?section=dashboard_section">
                        <span class="fas fa-tachometer-alt"></span>
                        <p class="section_headings">&nbsp;&nbsp;&nbsp;Dashboard </p>
                    </a>
                </li>

                <!-- Request Dropdown -->
                <li data-page-name="request_menu">
                    <a class="section_items" href="{% url 'certificate-req' %}?section=certificate_req">
                        <span class="fas fa-award"></span>
                        <p class="section_headings">&nbsp;&nbsp;&nbsp;&nbsp;Certificate Requests </p>
                    </a>
                </li>

                <!-- Employee Dropdown -->
                <li class="dropdown-toggle" onclick="toggleDropdown('employee-menu', this)"><span
                        class="fas fa-user-tie"></span>
                        <p class="section_headings">&nbsp;&nbsp;&nbsp;&nbsp;Employee </p>
                    <span class="dropdown-icon"><i class="fas fa-chevron-right icon_toggle"></i></span>
                </li>
                <ul class="dropdown-menu" id="employee-menu">
                    <li data-page-name="manage_employee"><a class="section_items"  href="{% url 'manage-employee-section' %}?section=manage_employee_section"><span class="fas fa-clipboard-list"></span><p class="section_subheadings"> Manage Employee</p></a></li>
                    <li data-page-name="add_employee"><a class="section_items"  href="{% url 'add-employee-section' %}?section=add_employee_section"><span class="fas fa-user-plus"></span><p class="section_subheadings"> Add Employee</p></a></li>
                </ul>

                <!-- Users Dropdown -->
                <li class="dropdown-toggle" onclick="toggleDropdown('users-menu', this)"><span
                        class="fas fa-users"></span>
                        <p class="section_headings">&nbsp;&nbsp;&nbsp;Users </p>
                    <span class="dropdown-icon"><i class="fas fa-chevron-right icon_toggle"></i></span>
                </li>
                <ul class="dropdown-menu" id="users-menu">
                    <li data-page-name="manage_user"><a class="section_items"  href="{% url 'manage-user-section' %}?section=manage_user_section"><span class="fas fa-clipboard-list"></span><p class="section_subheadings"> Manage Users</p></a></li>
                    <li data-page-name="add_user"><a class="section_items"  href="{% url 'add-user-section' %}?section=add_user_section"><span class="fas fa-user-plus"></span><p class="section_subheadings"> Add User</p></a></li>
                </ul>

                <!-- Sales Dropdown -->
                <li class="dropdown-toggle" onclick="toggleDropdown('sales-menu', this)"><span
                        class="fas fa-chart-line"></span>
                        <p class="section_headings">&nbsp;&nbsp;&nbsp;Sales </p>
                    <span class="dropdown-icon"><i class="fas fa-chevron-right icon_toggle"></i></span>
                </li>
                <ul class="dropdown-menu" id="sales-menu">
                    <li data-page-name="sales_overview"><a class="section_items"  href="#"><span class="far fa-chart-bar"></span><p class="section_subheadings"> Sales Overview</p></a></li>
                    <li data-page-name="manage_sales"><a class="section_items"  href="#"><span class="fas fa-clipboard-list"></span><p class="section_subheadings">Manage Sales</p></a></li>
                </ul>
                <!-- Student Dropdown -->
                <li class="dropdown-toggle" onclick="toggleDropdown('student-menu', this)"><span
                        class="fas fa-user-graduate"></span>
                        <p class="section_headings">&nbsp;&nbsp;&nbsp;Students </p>
                    <span class="dropdown-icon"><i class="fas fa-chevron-right icon_toggle"></i></span>
                </li>
                <ul class="dropdown-menu" id="student-menu">
                    <li data-page-name="manage_student"> <a class="section_items"  href="{% url 'manage-student-section' %}?section=manage_student_section"><span class="fas fa-clipboard-list"></span><p class="section_subheadings"> Manage Student</p></a></li>
                    <li data-page-name="add_student"><a class="section_items"  href="{% url 'add-student-section' %}?section=add_student_section"><span class="fas fa-user-plus"></span><p class="section_subheadings"> Add Student</p></a></li>
                </ul>
                <!-- Colleges Dropdown -->
                <li class="dropdown-toggle" onclick="toggleDropdown('colleges-menu', this)"><span
                        class="fas fa-university"></span>
                        <p class="section_headings">&nbsp;&nbsp;Colleges </p>
                    <span class="dropdown-icon"><i class="fas fa-chevron-right icon_toggle"></i></span>
                </li>
                <ul class="dropdown-menu" id="colleges-menu">
                    <li data-page-name="manage_college"><a class="section_items"  href="{% url 'manage-college-section' %}?section=manage_college_section"><span class="fas fa-clipboard-list"></span><p class="section_subheadings"> Manage College</p></a></li>
                    <li data-page-name="add_college"><a class="section_items"  href="{% url 'add-college-section' %}?section=add_college_section"><span class="fas fa-plus"></span><p class="section_subheadings"> Add College</p></a></li>
                </ul>
                <!-- Exam Dropdown -->
                <li class="dropdown-toggle" onclick="toggleDropdown('exam-menu', this)">
                    <span class="fa fa-file-text-o"></span>
                    <p class="section_headings">&nbsp;&nbsp;&nbsp;Exams </p>
                    <span class="dropdown-icon"><i class="fas fa-chevron-right icon_toggle"></i></span>
                </li>
                <ul class="dropdown-menu" id="exam-menu">
                    <li data-page-name="manage_exam"><a class="section_items"  href="{% url 'manage-exam-section' %}?section=manage_exam_section"><span class="fas fa-clipboard-list"></span><p class="section_subheadings"> Manage Exams</p></a></li>
                    <li data-page-name="create_exam"><a class="section_items"  href="{% url 'add-exam-section' %}?section=add_exam_section"><span class="fas fa-plus"></span><p class="section_subheadings"> Create Exam</p></a></li>

                </ul>
                <!-- Result Dropdown -->
                <li class="dropdown-toggle" onclick="toggleDropdown('Result-menu', this)"><span
                        class="fas fa-graduation-cap"></span>
                        <p class="section_headings">&nbsp;&nbsp;Result </p>
                    <span class="dropdown-icon"><i class="fas fa-chevron-right icon_toggle"></i></span>
                </li>

                <!-- placement_stories Dropdown -->
                <li class="dropdown-toggle" onclick="toggleDropdown('placement_stories-menu', this)">
                    <span class="fas fa-comment"></span>
                    <p class="section_headings">&nbsp;&nbsp;Placement stories </p>
                    <span class="dropdown-icon"><i class="fas fa-chevron-right icon_toggle"></i></span>
                </li>
                <ul class="dropdown-menu" id="placement_stories-menu">
                    <li data-page-name="manage_placement_stories"><a class="section_items"  href="{% url 'manage-placement-story-section' %}?section=manage_placement_story_section"><span class="fas fa-clipboard-list"></span><p class="section_subheadings"> Manage Stories</p></a></li>
                    <li data-page-name="add_placement_stories"><a class="section_items"  href="{% url 'add-placement-story-section' %}?section=add_placement_story_section"><span class="fas fa-plus"></span><p class="section_subheadings"> Add Story</p></a></li>
                </ul>

                <li class="dropdown-toggle" onclick="toggleDropdown('blogs-menu', this)">
                    <span class="fas fa-blog"></span>
                    <p class="section_headings">&nbsp;&nbsp;&nbsp;Blogs</p>
                    <span class="dropdown-icon"><i class="fas fa-chevron-right icon_toggle"></i></span>
                </li>
                <ul class="dropdown-menu" id="blogs-menu">
                    <li data-page-name="manage_blogs">
                        <a class="section_items" href="{% url 'readerclub_blog_list' %}?section=manage_blogs_section">
                            <span class="fas fa-clipboard-list"></span>
                            <p class="section_subheadings">Manage R.C. Blogs</p>
                        </a>
                    </li>
                    <li data-page-name="manage_blogs">
                        <a class="section_items" href="{% url 'career_blog_list' %}?section=manage_blogs_section">
                            <span class="fas fa-clipboard-list"></span>
                            <p class="section_subheadings">Manage C. Blogs</p>
                        </a>
                    </li>
                    <li data-page-name="add_blog">
                        <a class="section_items" href="{% url 'form' %}?section=add_blogs_section">
                            <span class="fas fa-plus-circle"></span>
                            <p class="section_subheadings"> Add Blog</p>
                        </a>
                    </li>
                </ul>
            </ul>
        </div>

        <!--content current page of total employee-->
        <!-- <div class="content current_page_action hidden"  data-page-name="total_employee">
            <h3>&nbsp;Total Employee</h3>
            <div class="container">
                <div class="header">
                      <button class="add-button">Add +</button>
                </div>

            </div>
        </div> -->

        <!--content current page of card sales-->
        <!-- <div class="content current_page_action hidden"  data-page-name="sales">
            <h3>&nbsp;Sales</h3>

        </div> -->

        <!--content current page of  card sales-->
        <!-- <div class="content current_page_action hidden"  data-page-name="admin">
            <h3>&nbsp;Admin</h3>

        </div> -->
        <!-- MAIN CONTENT -->
        <main id="content">
            {% block content %}
            {% if section == "dashboard_section" %}
            {% include "sub_templates/dash.html" %}
            {% elif section == "profile" %}
            {% include "sub_templates/dash.html" %}
            {% elif section == "certificate_req" %}
            {% include "sub_templates/certificate_req.html" %}
            {% elif section == "manage_employee_section" %}
            {% include "sub_templates/employee.html" %}
            {% elif section == "add_employee_section" %}
            {% include "sub_templates/employee.html" %}
            {% elif section == "manage_user_section" %}
            {% include "sub_templates/user.html" %}
            {% elif section == "add_user_section" %}
            {% include "sub_templates/user.html" %}
            {% elif section == "manage_student_section" %}
            {% include "sub_templates/students.html" %}
            {% elif section == "add_student_section" %}
            {% include "sub_templates/students.html" %}
            {% elif section == "manage_college_section" %}
            {% include "sub_templates/college.html" %}
            {% elif section == "add_college_section" %}
            {% include "sub_templates/college.html" %}
            {% elif section == "manage_exam_section" %}
            {% include "sub_templates/exam.html" %}
            {% elif section == "add_exam_section" %}
            {% include "sub_templates/exam.html" %}
            {% elif section == "manage_placement_story_section" %}
            {% include "sub_templates/placement_stories.html" %}
            {% elif section == "add_placement_story_section" %}
            {% include "sub_templates/placement_stories.html" %}
            {% else %}
            {% include "sub_templates/dash.html" %}
            {% endif %}
            {% endblock %}
        </main>

    </div>
    </div>

</body>

</html>