<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

    <h2>Complete Your Payment</h2>
    
    <script>
        var options = {
            key: "{{ key }}",  // Fetched from Django backend
            amount: "{{ amount }}",
            currency: "INR",
            name: "Reader Club",
            description: "Test Transaction",
            order_id: "{{ order_id }}",
            prefill: {
                name: "Devesh Rana",
                email: "devesh@example.com",
                contact: "9999999999"
            },
            theme: {
                color: "#3399cc"
            }
        };
        var rzp = new Razorpay(options);
        rzp.open();
    </script>

</body>
</html>
