/* ----------------------------faq section------------------------------------- */

.ffaq {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.new-faq-container {
  margin-top: 5px;
   padding-bottom:120px;
    width: 100%;
    background: white;
    border-radius: 10px;
    font-family: 'Inter';
 
}
.new-faq-image img {
  margin-top: -61px;
  width: 96%;
}


.new-faq-h2 {
  font-family: prociono;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-block: 3%;
  font-size: 44px;
  color: #222;
}


.new-highlight {
  color: #3498db;
}



.new-faq-box {
  box-shadow: 1px 0px 4px 0px rgba(0,0,0.1);
  width: 100%;
  background: #ffffff;
  border: 1px solid #B2BFC8;
  border-radius: 12px;
  padding: 8px;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin-bottom: 16px; 
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.new-faq-box:hover {
  background: #ffff;
}

.new-what {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #363535;
  margin-left: 18px;
}


.new-plus {
  font-size: 30px;
  
  color:#B2BFC8;
}




.new-faq-box-mnn {
  margin-left: 5%;
}

.new-faq-box-head {
  gap: 55px;
  display: flex;
  justify-content: center;
}
.new-answer {
  border: 1px solid gray;
  margin-top: -2%;
  display: none;
  padding: 23px;
  background: #e6f2ff;
  border-radius: 17px;
  margin-bottom: 10px;
}
/* .new-faq-box.active {
  background-color: #0074bc;
} */
.box-contentt {
  width: 448px;
}
.new-ans {
  width: 645px;
}
@media (max-width:1024px){
  .new-faq-box {
      margin-block: 12px;
      /* margin-top: -18px; */
      width: 100%;
      background: #ffffff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 4px;
      font-size: 16px;
      color: #333;
      display: flex
  ;
      justify-content: space-between;
      align-items: center;
      /* margin-bottom: -4px; */
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  }
  .new-what {
      margin-left: 0px;
      
  }
  .new-ans {
      width: 564px;
  }
  .new-faq-box-mnn {
      width: 90%;
      margin-left: 3.5%;
  }
  .new-faq-image img {
      width: 100%;
      margin-top: -3px;
  }
  
  
  
 
  
  
}

/* Responsive Design */
@media  (max-width: 768px) {
  .new-faq-h2 {
      font-size: 44px;
  }
  .new-faq-image {
      width: 57%;
      margin-left: 173px;
  }

  .new-faq-box {
    
      padding: 8px;
  }
  .new-faq-box-mnn {
      width: 81%;
      margin-left: 10%;
  }

  .new-faq-box-head {
      display: flex;
      flex-direction: column-reverse;
  }
  .new-faq-container {
    margin-top: 5px;
    height: 1016px;
    width: 100%;
    background: white;
    border-radius: 10px;
}

  .new-what {
    font-size: 15px;
    text-align: center;
  }
  .new-ans {
    font-size: 14px;
}
}

@media (max-width: 480px) {
  .new-faq-container {
      width: 100%;
  }
  .new-faq-h2 {
      font-size: 38px;
  }
  .new-plus {
      font-size: 21px;
  }
  .box-contentt {
      text-align: center;
      /* margin-inline: -18%; */
      width: 327px;
  }
  .new-ans {
      width: 357px;
      font-size: 13px;
  }

  .new-faq-box {
      font-size: 14px;
          padding: 2px;
      
  }
  .new-faq-container {
    height: 950px;
  }
  .new-faq-box-head {
      display: flex;
      flex-direction: column-reverse;
  }
  .new-faq-image{
      margin-top:25px;
      margin-left:10%;
      width: 80%;
  }
  .new-faq-box-mnn {
      margin-inline: 10px;
      width: 94%;
      line-height: 27px; 
  
  }
 
  
  
}
@media(max-width:376px){

      .box-contentt {
          text-align: center;
          /* margin-inline: -18%; */
          width: 290px;
      }
      .new-ans {
          width: 304px;
          font-size: 13px;
      }
      .new-what {
        font-size: 15px;
      }
}
@media (max-width: 321px) {
  .box-contentt {
      text-align: center;
      /* margin-inline: -18%; */
      width: 273px;
  }
  .new-ans {
      width: 247px;
      font-size: 10px;
  }
  
  .new-what {
    font-size: 15px;
  }
  .new-faq-h2 {
    font-size: 31px;
}

}