section.pamper-section {
    margin-top: 5px;
    background: white;
    overflow: hidden;
    position: relative;
}

.pamper-section h2 {
    font-family: 'Carattere';
    font-size: 2.5rem;
    color: #FF7900;
    margin: 0;
}

.pamper-section .pamper-pamplet {
    font-family: 'Poppins';
}

.pamper-header {
    margin: 2rem 2.9rem 0px 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.pamper-pamplet {
    margin-top: 0.5rem;
    overflow: hidden;
    width: 100%;
}

.pamper-book-container {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    width: max-content;
    margin-bottom: 25px;
    margin-top: -15px;
}

.pamper-book-card {
    flex: 0 0 255px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    height: 420px;
}

.pamper-pamp1 {
    height: 315px;
    width: 100%;
}

.mag1 {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pamper-title {
    font-weight: bold;
    font-size: 14px;
    margin: 8px 0;
    text-align: left;
}

.pamper-both {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    line-height: 17px;
}

.pamper-date {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: gray;
    text-align: left;
    margin: 0;
}

.pamper-icon1 {
    height: 40px;
    width: 40px;
}

.sub {
    border-radius: 5px;
    height: 42px;
    object-fit: cover;
}

.pamper-stars {
    font-size: 14px;
    display: inline-block;
    color: #04aa6d;
}

.reader-mag {
    font-size: 14px;
    color: black;
    font-style: normal;
}