{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <title>Candidate List</title>
    
</head>
<body>
    <div class="candidate-container">
        <div class="candidate-header">
            <h2>Internship Candidates List</h2>
            <div class="candidate-legend">
                <span><div class="candidate-shortlist"></div> Shortlist</span>
                <span><div class="candidate-reject"></div> Reject</span>
                <span><div class="candidate-select"></div> Select</span>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>S.no.</th>
                    <th>Name</th>
                    <th>Qualification</th>
                    <th>Contact</th>
                    <th>Resume</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="S.no.">01</td>
                    <td data-label="Name">Username1</td>
                    <td data-label="Qualification">BTech</td>
                    <td data-label="Contact"><a href="#" class="candidate-chat-btn">Chat</a></td>
                    <td data-label="Resume"><a href="#" class="candidate-view-btn">View</a></td>
                    <td data-label="Progress">
                        <div class="candidate-progress-box">
                            <span class="candidate-shortlist"></span>
                            <span class="candidate-reject"></span>
                            <span class="candidate-select"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-label="S.no.">01</td>
                    <td data-label="Name">Username1</td>
                    <td data-label="Qualification">BTech</td>
                    <td data-label="Contact"><a href="#" class="candidate-chat-btn">Chat</a></td>
                    <td data-label="Resume"><a href="#" class="candidate-view-btn">View</a></td>
                    <td data-label="Progress">
                        <div class="candidate-progress-box">
                            <span class="candidate-shortlist"></span>
                            <span class="candidate-reject"></span>
                            <span class="candidate-select"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-label="S.no.">01</td>
                    <td data-label="Name">Username1</td>
                    <td data-label="Qualification">BTech</td>
                    <td data-label="Contact"><a href="#" class="candidate-chat-btn">Chat</a></td>
                    <td data-label="Resume"><a href="#" class="candidate-view-btn">View</a></td>
                    <td data-label="Progress">
                        <div class="candidate-progress-box">
                            <span class="candidate-shortlist"></span>
                            <span class="candidate-reject"></span>
                            <span class="candidate-select"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-label="S.no.">01</td>
                    <td data-label="Name">Username1</td>
                    <td data-label="Qualification">BTech</td>
                    <td data-label="Contact"><a href="#" class="candidate-chat-btn">Chat</a></td>
                    <td data-label="Resume"><a href="#" class="candidate-view-btn">View</a></td>
                    <td data-label="Progress">
                        <div class="candidate-progress-box">
                            <span class="candidate-shortlist"></span>
                            <span class="candidate-reject"></span>
                            <span class="candidate-select"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-label="S.no.">01</td>
                    <td data-label="Name">Username1</td>
                    <td data-label="Qualification">BTech</td>
                    <td data-label="Contact"><a href="#" class="candidate-chat-btn">Chat</a></td>
                    <td data-label="Resume"><a href="#" class="candidate-view-btn">View</a></td>
                    <td data-label="Progress">
                        <div class="candidate-progress-box">
                            <span class="candidate-shortlist"></span>
                            <span class="candidate-reject"></span>
                            <span class="candidate-select"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-label="S.no.">01</td>
                    <td data-label="Name">Username1</td>
                    <td data-label="Qualification">BTech</td>
                    <td data-label="Contact"><a href="#" class="candidate-chat-btn">Chat</a></td>
                    <td data-label="Resume"><a href="#" class="candidate-view-btn">View</a></td>
                    <td data-label="Progress">
                        <div class="candidate-progress-box">
                            <span class="candidate-shortlist"></span>
                            <span class="candidate-reject"></span>
                            <span class="candidate-select"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-label="S.no.">01</td>
                    <td data-label="Name">Username1</td>
                    <td data-label="Qualification">BTech</td>
                    <td data-label="Contact"><a href="#" class="candidate-chat-btn">Chat</a></td>
                    <td data-label="Resume"><a href="#" class="candidate-view-btn">View</a></td>
                    <td data-label="Progress">
                        <div class="candidate-progress-box">
                            <span class="candidate-shortlist"></span>
                            <span class="candidate-reject"></span>
                            <span class="candidate-select"></span>
                        </div>
                    </td>
                </tr>
                <!-- Repeat for other candidates -->
            </tbody>
        </table>
    </div>
</body>
</html>
