{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>internshipp Listings</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/internship.css' %}">
</head>

<body>

    <div class="internshipp-listings-container">
        <div class="internshipp-listings-header">
            <h2 class="internshipp-listings-title">Internship Posted</h2>
           
        </div>
        
        <div class="internshipp-listings-grid">
            <div class="internshipp-card-box">
                <span class="internshipp-category">IT and Software</span>
                <span class="internshipp-posted-time">2 days ago</span>
                <h3 class="internshipp-title">Frontend<br> Developer</h3>
                <a href="#" class="internshipp-view-link">View Candidates</a>
            </div>

            <div class="internshipp-card-box">
                <span class="internshipp-category">IT and Software</span>
                <span class="internshipp-posted-time">2 days ago</span>
                <h3 class="internshipp-title">Software </br>Engineer</h3>
                <a href="#" class="internshipp-view-link">View Candidates</a>
            </div>

            <div class="internshipp-card-box">
                <span class="internshipp-category">Sales & Marketing</span>
                <span class="internshipp-posted-time">3 days ago</span>
                <h3 class="internshipp-title">Sales</br> Executive</h3>
                <a href="#" class="internshipp-view-link">View Candidates</a>
            </div>

            <div class="internshipp-card-box">
                <span class="internshipp-category">Management</br> & Business</span>
                <span class="internshipp-posted-time">5 days ago</span>
                <h3 class="internshipp-title">Business</br> Analyst</h3>
                <a href="#" class="internshipp-view-link">View Candidates</a>
            </div>
        </div>
    </div>

</body>
</html>
